$width:80%; 
.content {
    width: $width;
    margin: 0 auto;
    .panel {
        border: 1px solid #eee;
        background: rgb(250, 250, 250);
        padding: 10px;
        .pure-table {
            width: $width / 2 - 10;
        }
    }
}
